DOMAIN=localhost
PHX_HOST=localhost
SECRET_KEY_BASE=
# PAY_WALLET=
# PAY_BYPASS_TXID=
# SOLANA_RPC=
# MAIL_FROM=Who Was There <noreply@example.com>
# POSTAL_URL=https://postal.example.com
# POSTAL_API_KEY=
# RESEND_API_KEY=
